/* Zentrale Farb / Schriftart / Stilvorgaben die von Bootstrap verwendet werden */
html {
  /* Grundfarben */
  --bs-body-bg: #ffffff;
  --bs-body-color: #212529;
  --text-on-dark:#ffffff;

  /* Akzentfarben */
  --bs-primary: #0055aa;
  --bs-secondary: #6c757d;
  --bs-heading-color: #111111;

  /* Schriftart */
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">

  /* Ränder */
  --bs-border-color: #dee2e6;
  --bs-border-width: 0.1em;

  /* Komponenten */
  --bs-navbar-bg: var(--bs-primary);
  --bs-navbar-color: var(--text-on-dark);
}
html, body {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Alex Brush", cursive;
  font-weight: 600;
}

body {
  overflow-x: hidden; /* verhindert seitliches "Verschieben" */
}

/* Full width Hero */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Video füllt Hero und wird mittig gecroppt */
.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Normaler Content-Container darunter */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px 16px;
}

/* Spezifische Vorgaben für bestimmte Elemente. */

.col {
  text-align: center;
}

.card {
  margin: 4rem 0 4rem 0;
}

footer {
  margin-top: 4rem;
}

h1 {
  text-align:center
}

/* Bilder im Karussel auf volle Breite */
.carousel .carousel-item img {
  width:100%; 
  display:block;
}

/* Navigation bar in definierter Farbe*/
.navbar {
  background-color: var(--bs-navbar-bg);
  /*color:var(--text-on-dark)*/
}

nav a {
  color:var(--text-on-dark)
}

/* Button-Links in primärer Akzentfarbe und sekundärer bei Hover*/
a.btn {
  float: inline-end;
  background-color: var(--bs-primary);
  color:var(--text-on-dark);
}

a.btn:hover, a.btn:focus {
  background-color: var(--bs-secondary);
  color:var(--text-on-dark);
}