/* Zentrale Farb / Schriftart / Stilvorgaben die von Bootstrap verwendet werden */
:root {
  /* Grundfarben */
  --bs-body-bg: #0b132b;
  --bs-body-color: #133c55;
  --text-on-dark: #0b132b;
  /* Akzentfarben */
  --bs-primary: #c9a86a;
  --bs-secondary: #b08a42;
  --bs-heading-color: #d6d7d9;

  /* Ränder */
  --bs-border-color: #dee2e6;
  --bs-border-width: 0.1em;

  /* Komponenten */
  --bs-navbar-bg: var(--bs-primary);
  --bs-navbar-color: var(--text-on-dark);
}
/* Schriftart */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
/* 1) Navbar über dem Hero */
#viola__site-header {
  position: absolute; /* liegt über dem Video */
  top: 15;
  left: 10;
  width: 100%;
  z-index: 120;
  font-size: 1.2rem; /* größer / kleiner nach Geschmack */
  letter-spacing: 0.15em;
}

#viola__site-header .navbar {
  background-color: transparent;
  --bs-navbar-bg: transparent; /* dunkelblau */

  --bs-navbar-color: #cfd2d6; /* silber */
  --bs-navbar-brand-color: #cfd2d6;
  --bs-navbar-brand-hover-color: #e6e6e6;
  --bs-navbar-hover-color: #e6e6e6;

  padding-left: 3rem;
  padding-right: 3rem;
}

/* 2) Hero Fullscreen */
.hero__banner {
  height: 100vh; /* volle Bildschirmhöhe */
  overflow: hidden;
}

.hero__banner video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* wichtig für "Background-Video" Look */
  display: block;
}

h1 {
  color: var(--bs-heading-color);
  font-family: "Alex Brush", cursive;
  font-size: 10;
  font-weight: 200;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.accent-font {
  font-family: "Alex Brush", cursive;
}

.viola__viola h1 {
  font-size: 50px;
  margin-top: 60px;
}
.viola__viola p {
  font-family: "Poppins", sans-serif;
  color: #d6d7d9;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 220px;
  margin-right: 220px;
  line-height: 1.9;
}

/* Block: Karussell + Text */
.carousel-block {
  display: flex;
  align-items: center;
  gap: 3rem;

  margin: 6rem auto;
  padding: 0 40px; /* ✅ Abstand links/rechts */
  max-width: 1700px; /* optional */
}

/* Größe des Karussells */
.carousel-block .carousel {
  flex: 0 0 50%;
  max-width: 50%;
}

/* Text daneben */
.carousel-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Block spiegeln */
.carousel-block.reverse {
  flex-direction: row-reverse;
}

/* optional */
.carousel-centered {
  padding: 0 24px;
}

.passwort-box {
  margin-top: 20px;
  align-items: center;
}
.password-box input {
  background: transparent;
  border: 1px solid #133c55;
  color: #c9a86a;

  padding: 0.2rem 0.4rem;
  font-size: 0.6rem;

  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* verhindert seitliches "Verschieben" */
}

/* Full width Hero */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.viola__offers {
  background-color: #d6d7d9;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 0 50px;
}
.viola__offers__slider {
  padding: 10px 50px 10px 50px;
}

.viola__offers h2 {
  color: #0b132b;
  padding: 10px 50px 10px 50px;
}
.viola__offers__slider__item img {
  width: 350px; /* ← Größe des Quadrats */
  aspect-ratio: 1 / 1; /* ← Quadrat */
  object-fit: cover; /* ← sauber zuschneiden */
  display: block;
}

/* Normaler Content-Container darunter */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px 16px;
}

/* Spezifische Vorgaben für bestimmte Elemente. */

.col {
  text-align: center;
}

.card {
  margin: 4rem 0 4rem 0;
}

footer {
  margin-top: 4rem;
}

h1 {
  text-align: center;
}

/* Bilder im Karussel auf volle Breite */
.carousel .carousel-item img {
  width: 100%;
  display: block;
}

/* Navigation bar in definierter Farbe*/
.navbar {
  background-color: var(--bs-navbar-bg);
  /*color:var(--text-on-dark)*/
}

nav a {
  color: var(--text-on-dark);
}

/* Button-Links in primärer Akzentfarbe und sekundärer bei Hover*/
a.btn {
  float: inline-end;
  background-color: var(--bs-primary);
  color: var(--text-on-dark);
}

a.btn:hover,
a.btn:focus {
  background-color: var(--bs-secondary);
  color: var(--text-on-dark);
}
