/* Zentrale Farb / Schriftart / Stilvorgaben die von Bootstrap verwendet werden */
:root {
  /* Grundfarben */
  --bs-body-bg: #0b132b;
  --bs-body-color: #133c55;
  --text-on-dark: #0b132b;
  /* Akzentfarben */
  --bs-primary: #c9a86a;
  --bs-secondary: #b08a42;
  --bs-heading-color: #d6d7d9;

  /* Ränder */
  --bs-border-color: #dee2e6;
  --bs-border-width: 0.1em;

  /* Komponenten */
  --bs-navbar-bg: var(--bs-primary);
  --bs-navbar-color: var(--text-on-dark);
}
/* Schriftart */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--bs-heading-color);
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.accent-font {
  font-family: "Alex Brush", cursive;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* verhindert seitliches "Verschieben" */
}

/* Full width Hero */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Video füllt Hero und wird mittig gecroppt */
.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Normaler Content-Container darunter */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px 16px;
}

/* Spezifische Vorgaben für bestimmte Elemente. */

.col {
  text-align: center;
}

.card {
  margin: 4rem 0 4rem 0;
}

footer {
  margin-top: 4rem;
}

h1 {
  text-align: center;
}

/* Bilder im Karussel auf volle Breite */
.carousel .carousel-item img {
  width: 100%;
  display: block;
}

/* Navigation bar in definierter Farbe*/
.navbar {
  background-color: var(--bs-navbar-bg);
  /*color:var(--text-on-dark)*/
}

nav a {
  color: var(--text-on-dark);
}

/* Button-Links in primärer Akzentfarbe und sekundärer bei Hover*/
a.btn {
  float: inline-end;
  background-color: var(--bs-primary);
  color: var(--text-on-dark);
}

a.btn:hover,
a.btn:focus {
  background-color: var(--bs-secondary);
  color: var(--text-on-dark);
}
